.card__container-grid {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
}


@include respond-to(desktop) {

    .card__container-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: 0.90rem;
        row-gap: 0.45rem;
        margin: 0;
    }

    .card__column-left {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .card__column-center {
        padding: 0;
        margin: 0;
        grid-column: 2 / 3;
        grid-row: 1 / 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }



    .card__column-right {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
        width: 100%;
        justify-self: start;
    }

}

.card__box {
    border-radius: 0.2rem;
    border-top: 2rem;
    background-color: $primary;
    -webkit-box-shadow: 0px 7px 9px 5px rgba(207, 201, 207, 1);
    -moz-box-shadow: 0px 7px 9px 5px rgba(207, 201, 207, 1);
    box-shadow: 0px 7px 9px 5px rgba(207, 201, 207, 1);
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;

    &.top-color-cyan {
        border-top: 0.3rem solid $color-cyan;
    }

    &.top-color-red {
        border-top: 0.3rem solid $color-red;
    }

    &.top-color-orange {
        border-top: 0.3rem solid $color-orange;
    }

    &.top-color-blue {
        border-top: 0.3rem solid $color-blue;
    }

}


@include respond-to(desktop) {
    .card__box {
        margin-top: 1rem;
        padding: 1rem;
        width: 80%;
    }
}


.card__header {
    font-weight: bold;
    font-size: 1.5rem;
    color: $dark-blue;
}

.card__subtitle-container {
    width: 100%;
    display: flex;
    padding: 0.2rem;
    margin-top: 0;
    font-size: 0.75rem;
    font-weight: 500;
    color: $grayish-blue;
    margin-bottom: 1.5rem;
}

.card__first-subtitle {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    margin-top: 1rem;
    justify-content: center;
}

.card__text-subtitle {    
    font-size: 1rem;
    font-weight: 500;
    color: $grayish-blue;
    margin-left: 1rem;
    margin-right: 1rem;
}



@include respond-to(desktop) {
    .card__subtitle-container {
        padding: 0;
        margin-left: 0;
        width: 60%;
        display: flex;
        justify-content: start;
    }

    .card__text-subtitle  {
        font-size: 1em;
        align-items: center;
        width: 35%;
    }

}

.card__container-image {
    margin-top: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;

}

.card__image {
    margin-left: 1rem;
}