* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #fafafa;
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  width: 100%;
}

.mt-1 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.card__container {
  margin-top: 3.75rem;
  text-align: center;
}

.card__first-header {
  font-weight: 100;
  font-size: 1.5rem;
  font-style: normal;
  color: #4c4e61;
}

.card__second-header {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000820;
}

.card__subtitle-container {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #a3a5ae;
  margin-bottom: 4rem;
}

@media only screen and (min-width: 75em) {
  .card__subtitle-container {
    margin-left: auto;
    margin-right: auto;
    width: 35em;
  }
}
.card__container-grid {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media only screen and (min-width: 75em) {
  .card__container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 0.9rem;
    row-gap: 0.45rem;
    margin: 0;
  }

  .card__column-left {
    grid-column: 1/2;
    grid-row: 2/4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .card__column-center {
    padding: 0;
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .card__column-right {
    grid-column: 3/4;
    grid-row: 2/4;
    width: 100%;
    justify-self: start;
  }
}
.card__box {
  border-radius: 0.2rem;
  border-top: 2rem;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 7px 9px 5px #cfc9cf;
  -moz-box-shadow: 0px 7px 9px 5px #cfc9cf;
  box-shadow: 0px 7px 9px 5px #cfc9cf;
  padding: 1rem;
  margin-bottom: 1rem;
}
.card__box.top-color-cyan {
  border-top: 0.3rem solid #45d3d3;
}
.card__box.top-color-red {
  border-top: 0.3rem solid #ea5353;
}
.card__box.top-color-orange {
  border-top: 0.3rem solid #fcaf4a;
}
.card__box.top-color-blue {
  border-top: 0.3rem solid #549ef2;
}

@media only screen and (min-width: 75em) {
  .card__box {
    margin-top: 1rem;
    padding: 1rem;
    width: 80%;
  }
}
.card__header {
  font-weight: bold;
  font-size: 1.5rem;
  color: #4c4e61;
}

.card__subtitle-container {
  width: 100%;
  display: flex;
  padding: 1rem;
}

.card__second-subtitle {
  font-size: 0.875rem;
  text-align: unset;
}

@media only screen and (min-width: 75em) {
  .card__subtitle-container {
    padding: 0;
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .card__second-subtitle {
    font-size: 1em;
    align-items: center;
    width: 35%;
  }
}

/*# sourceMappingURL=styles.css.map */
